body {
    user-select: none;
}

.wrapper {
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    margin: auto;
    filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.03)) drop-shadow(0px 24px 34px rgba(0, 0, 0, 0.09)) drop-shadow(0px 3px 34px rgba(0, 0, 0, 0.15));
}

.calculator {
    width: 300px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.window {
    width: 100%;
}

.input {
    border-radius: 30px 30px 0 0;
    width: 100%;
    height: 250px;
    background-color: black;
    color: #F5F5F5;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    font-weight: 300;
    font-size: 50px;
}

.item {
    width: 55px;
    height: 55px;
    margin: 0 10px;
    border-radius: 50%;
    box-shadow: -4px -4px 12px #FFFFFF, 4px 4px 12px rgba(209, 205, 199, 0.5);
    font-family: 'Zen Antique Soft', serif;

    
    cursor: pointer;
    font-size: 28px;
    font-family: 'Zen Antique Soft', serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btn__line {
    display: flex;
    justify-content: space-between;
}

.btn {
    border-radius: 0 0 30px 30px;
    width: 100%;
    height: 100%;
    background: #F0F0F0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.results {
    background-color: #FBD928;
}

.clear, .multiply, .divide, .delete, .minus, .plus, .percent {
    color: #808080;
}
